<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body dir="rtl">

<nav class="navbar bg-dark">
    <ul class="navbar nav">
        <li class="nav-item"><a href="/" class="nav-link" style="color: white">صفحه اصلی</a></li>
        <!--add these to list only if user is not authorized-->
        <li sec:authorize="isAnonymous()" class="nav-item"  style="color: white"><a href="/signup" class="nav-link"  style="color: white">ثبت نام</a></li>
        <li sec:authorize="isAnonymous()" class="nav-item"  style="color: white"><a href="/login" class="nav-link"  style="color: white">ورود به سایت</a></li>
        <!--add these to list only if user is authorized-->
        <li sec:authorize="isAuthenticated()" class="nav-item"><a href="/user/getMyPosts.do" class="nav-link"  style="color: white"> پروفایل </a></li>
        <li sec:authorize="isAuthenticated()" class="nav-item"><a href="/user/Activities" class="nav-link"  style="color: white"> فعالیت ها/Activities </a></li>
        <li sec:authorize="isAuthenticated()" class="nav-item"><a href="/user/friendRequest" class="nav-link"  style="color: white">درخواست های دوستی (تست)</a></li>
        <li sec:authorize="isAuthenticated()" class="nav-item"><a href="/user/findAllUsers.do" class="nav-link"  style="color: white">لیست تمام کاربران (تست) </a></li>
        <li sec:authorize="isAuthenticated()" class="nav-item"><a href="/user/FriendList" class="nav-link"  style="color: white">صفحه مشاهده لیست دوستان</a></li>
        <li sec:authorize="isAuthenticated()" class="nav-item"><a href="/user/UserInfo" class="nav-link"  style="color: white">تنظیمات اطلاعات حساب کاربری</a></li>
        <li sec:authorize="isAuthenticated()" class="nav-item"><a href="/logout" class="nav-link"  style="color: white">خروج</a></li>

    </ul>
</nav>


</body>
</html>