<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>لیست دوستان</title>
    <div th:replace="/fragment/headerTemplate::head"></div>
</head>

<body class="text-right">

<div th:replace="/fragment/headerTemplate::body"></div>

<br/><br/>
<div class="container">
    <table border="1" style="width: 100%" class="table table-bordered">
        <tr>
            <td>کد کاربری</td>
            <td>نام و نام خانوادگی</td>
            <td>رفتن به پروفایل</td>
        </tr>
        <div th:each="friend:${session.friendList}">

            <form action="/user/profile">
                <tr>
                    <td><input type="text" th:value="${friend.getId()}" name="id" readonly/></td>
                    <td><input type="text"
                               th:value="${friend.getUserInfo().getName()} + ' ' + ${friend.getUserInfo().getFamily()}"
                               name="username" readonly/></td>
                    <td><input type="submit" value="رفتن به پروفایل" class="btn btn-secondary"></td>
                </tr>
            </form>
        </div>
    </table>
</div>
</body>

</html>