<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <div th:if="${session.userDetail!=null}">
        <title>پروفایل</title>
    </div>
    <div th:if="${session.userDetail!=null}">
        <title>خطا</title>
    </div>
    <div th:replace="fragment/headerTemplate::head"></div>

</head>
<body class="text-right">

<div th:replace="fragment/headerTemplate::body"></div>


<div th:if="${param.id!=null}">


    <!--middle part-->
    <!--profile infos header/top (like profile image name and background and etc)-->
    <div th:if="${session.userDetail!=null}">
        <div th:style="'margin:auto; width: 40%;height: fit-content;border-right:solid black;border-left:solid black;border-top:solid black;overflow: hidden;background : url('+@{${session.userDetail.getUserInfo().getProfileBackgroundPictureFileAddress()}}+');border-width: thin;'"
             class="card-body">
            <div th:if="${session.userDetail!=null}">
                <h4 class="card-header"
                    th:text=" 'پروفایل کاربر : ' + ${session.userDetail.getUserInfo().getName()} + ' ' + ${session.userDetail.getUserInfo().getFamily()}"></h4>
            </div>
            <br/>
            <img th:src="@{${session.userDetail.userInfo.getProfilePictureFileAddress()}}"
                 style="width: 128px;height: 128px; margin-right: 5px;float: right"/>
            <p th:text="${session.userDetail.userInfo.getName()}" style="float: right;margin-right: 20px;"></p>

            <!--friend Request form-only shows up if user is not in it's own profile-->
            <div th:if="${session.userDetail!=null&&session.userDetail.getId()!=session.authenticatedUserId}">

                <!--if user have already sent a friend request to this user-->
                <div th:if="${session.friendRequestState.equals('requestSender')}"
                     style="float: right;margin-right: 20px;">
                    <form action="/user/sendFriendRequest.do">
                        <input type="text" name="authenticatedUserID" th:value="${session.authenticatedUserId}" readonly
                               hidden/><br/>
                        <input type="text" name="userId" th:value="${param.id}" readonly hidden/><br/>
                        <input type="text" value="شما قبلا درخواست دوستی ارسال کرده اید"/>
                    </form>
                </div>

                <!--if user have already received a friend request from this user-->
                <div th:if="${session.friendRequestState.equals('requestReceiver')}"
                     style="float: right;margin-right: 20px;">
                    <form action="/user/friendRequest">
                        <input type="text" name="authenticatedUserID" th:value="${session.authenticatedUserId}" readonly
                               hidden/><br/>
                        <input type="text" name="userId" th:value="${param.id}" readonly hidden/><br/>
                        <input type="submit"
                               value="شما قبلا از این کاربر درخواست دوستی دریافت کرده اید.برای بررسی کلیک کنید"/>
                    </form>
                </div>

                <!--if user dont have any friend request from this user or doesn't created any request to this user-->
                <div th:if="${session.friendRequestState.equals('none')}" style="float: right;margin-right: 20px;">
                    <form action="/user/sendFriendRequest.do">
                        <input type="text" name="authenticatedUserID" th:value="${session.authenticatedUserId}" readonly
                               hidden/><br/>
                        <input type="text" name="userId" th:value="${param.id}" readonly hidden/><br/>
                        <input type="submit" value="ارسال درخواست دوستی"/>
                    </form>
                </div>
            </div>

            <br/><br/>
        </div>


        <!--show 'send post' form only if user is in it's own profile-->
        <div th:if="${session.userDetail!=null&&session.userDetail.getUsername().equals(#authentication.name)}"
             style="margin:auto; width: 40%;height: fit-content;border-right:solid black;border-left:solid black;border-top:solid black;border-width: thin; "
             class="card-body">
            <fieldset>
                <legend><h3 class="card-header">ثبت پست جدید</h3></legend>
                <form action="/user/sendPost.do" method="post" enctype="multipart/form-data">
                    <input type="text" name="userId" th:value="${param.id}" readonly hidden><br/>
                    <label for="textInput">متن پست :</label><br/>
                    <textarea id="textInput" name="text" placeholder="متن مورد نظر را در اینجا تایپ کنید..." required
                              style="width:90%;height: 100px;resize: none"></textarea><br/><br/>
                    <label for="filePosted">تصویر یا ویدیو (حداکثر حجم ۵۰۰ مگابایت) :</label><br/>
                    <input id="filePosted" type="file" name="filePosted"><br/>
                    <br/>
                    <input type="submit" value="ثبت پست"><br/>
                    <br/>
                </form>
            </fieldset>
        </div>

        <!--displaying user posts-->
        <div th:if="${session.userDetail!=null}"
             style="margin:auto; width: 40%;height: fit-content;border-right:solid black;border-left:solid black;border-top:solid black;border-bottom:solid black;border-width: thin;"
             class="card-body">
            <fieldset>
                <legend class="card-header"><h3>پست های کاربر</h3></legend>
                <div th:each="post : ${session.userPosts}" class="card-body">

                    <div th:if="${session.userPosts.size()>0}"
                         style="margin:auto;height: fit-content;border-bottom: solid black">
                        <form action="/user/likePost.do" style="border-bottom: solid black;border-width: thin">
                            <input type="text" name="id" th:value="${post.getId()}" readonly hidden> <br/>

                            <a th:href="'/user/getUserPosts.do?userId='+${post.getAuthor().getId()}"
                               th:text="'نوشته شده توسط : ' +${session.userDetail.getUserInfo().getName()} + ' ' + ${session.userDetail.getUserInfo().getFamily()}"></a><br/>

                            <p th:text="'تاریخ ثبت پست : '+${post.dateAdded}"></p>

                            <p th:text="${post.getText()}" style="white-space: pre-line;overflow-wrap: break-word"
                               class="card-text"></p>

                            <!--if post have image-->
                            <div th:if="${post.isPostHaveImage()}" style="margin: auto">
                                <img th:src="@{${post.getFilePath()}}"
                                     style="width: 90%;height: 90%;border-radius: 2%"/><br/>
                            </div>
                            <br/>

                            <!--if post have video-->
                            <div th:if="${post.isPostHaveVideo()}"
                                 style="border-bottom: solid black;border-width: thin">
                                <video width="90%" height="70%" controls>
                                    <source th:src="@{${post.getFilePath()}}" type="video/mp4">
                                </video>
                                <br/>
                            </div>

                            <input type="submit" value="لایک"><br/>
                            <p th:text="'تعداد لایک ها :'+${post.getPostLikes().size()}"></p><br/>

                        </form>

                        <!-- comments-->
                        <div>
                            <br/>
                            <h4> نظرات </h4>
                            <!--submit post-->
                            <div>
                                <form action="/postComment/saveComment.do?url=test">
                                    <input type="text" name="url" th:value="${param.id}" hidden
                                           readonly/><br/>
                                    <input type="text" name="postId" th:value="${post.getId()}" hidden readonly/><br/>
                                    <textarea id="textInputComment" name="text"
                                              placeholder="نظر خود را وارد کنید..."
                                              style="width:90%;height: 100px;resize: none"></textarea><br/><br/>
                                    <input type="submit" value="ثبت نظر"/><br/>
                                </form>
                            </div>
                            <!--display post comments-->
                            <div th:if="${post.getPostCommentsList().size()>0}">

                                <!-- if comments are less than five load all of them -->
                                <div th:if="${post.getPostCommentsList().size()<6}">
                                    <div th:each="comment :${post.getPostCommentsList()}">
                                        <br/>
                                        <div style="border-bottom: solid black;border-width: thin">
                                            <a th:href="${'/user/profile?id='+comment.getAuthor().getId()}"><p
                                                    th:text="${comment.getAuthor().getUserInfo().getName() + ' ' + comment.getAuthor().getUserInfo().getFamily()+' گفته :'}"></p>
                                            </a>
                                            <p th:text="${ 'در تاریخ : ' + comment.getDateAdded()}"></p>
                                            <p th:text="${comment.getText()}"></p>
                                        </div>
                                    </div>
                                    <br/>
                                </div>

                                <!-- if comments are more than five load only five of them -->
                                <div th:if="${post.getPostCommentsList().size()>5}">
                                    <div th:each="i : ${#numbers.sequence(1, 5)}">
                                        <br/>
                                        <div style="border-bottom: solid black;border-width: thin">
                                            <a th:href="${'/user/profile?id='+post.getPostCommentsList().get(i).getAuthor().getId()}">
                                                <p
                                                        th:text="${post.getPostCommentsList().get(i).getAuthor().getUserInfo().getName()+ ' ' + post.getPostCommentsList().get(i).getAuthor().getUserInfo().getFamily() + ' گفته :'}"></p>
                                            </a>
                                            <p th:text="${ 'در تاریخ : ' + post.getPostCommentsList().get(i).getDateAdded()}"></p>
                                            <p th:text="${post.getPostCommentsList().get(i).getText()}"></p>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                            </div>
                            <br/>

                            <div th:if="${post.getPostCommentsList().size()<=0}">
                                <p>نظری برای این پست ثبت نشده</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:if="${session.userPosts.size()<=0}" class="card-body">
                    <p>این کاربر هنوز پستی ارسال نکرده است</p>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<br/><br/>

<div th:if="${session.userDetail==null||param.id==null}" style="margin-right:30%;">
    <h2>متاسفیم</h2>
    <h4>خطایی در پردازش درخواست شما رخ داده است</h4><br/>
    <h3>پروفایلی برای کد کاربری مورد نظر یافت نشد</h3>

    <br/><br/>
</div>


</body>
</html>