<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>لیست تمام کاربران</title>
    <div th:replace="fragment/headerTemplate::head"></div>
</head>
<body class="text-right">

<div th:replace="fragment/headerTemplate::body"></div>

<br/><br/>
<div class="container">
    <table border="1" class="table table-bordered table-hover">
        <tr>
            <th>کد کاربری</th>
            <th>نام کاربری</th>
            <th>انتخاب کاربر</th>
        </tr>
        <div th:each="user : ${session.usersList}">
            <tr>
                <form action="/user/getUserPosts.do">
                    <td><input type="text" name="username" th:value="${user.getUsername()}" readonly></td>
                    <td><input type="text" name="userId" th:value="${user.getId()}" readonly></td>
                    <td><input type="submit" value="انتخاب" class="btn btn-secondary "></td>
                </form>
            </tr>
        </div>
    </table>
</div>

</body>
</html>