<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>لیست تمام کاربران</title>
</head>
<body dir="rtl">

<table border="1">
    <tr>
        <th>کد کاربری</th>
        <th>نام کاربری</th>
        <th>انتخاب کاربر</th>
    </tr>
    <div th:each="user : ${session.usersList}">
        <tr>
        <form action="/user/getUserPosts.do">
            <td><input type="text" name="username" th:value="${user.getUsername()}" readonly></td>
            <td><input type="text" name="userId" th:value="${user.getId()}" readonly></td>
            <td><input type="submit" value="انتخاب"></td>
        </form>
        </tr>
    </div>
</table>

</body>
</html>