<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>صفحه اصلی</title>
</head>
<body dir="rtl">

<ul>
    <li><a href="/">صفحه اصلی</a></li>
    <div th:if="${#authentication.authenticated}">
        <li><a href="/signup">ثبت نام</a></li>
        <li><a href="/login">ورود به سایت</a></li>
    </div>
</ul>

<a href="/user/getMyPosts.do"> پروفایل کاربر و پست ها (تست) </a><br/>
<a href="/user/findAllUsers.do">لیست تمام کاربران (تست) </a>


<h1>صفحه اصلی</h1>

</body>
</html>