<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ورود به سایت</title>
</head>
<body dir="rtl">
<fieldset>
    <legend>ورود به سایت</legend>
    <form action="#" method="post">
        <label for="emailInput">ایمیل : </label><br />
        <input id="emailInput" type="email" name="username" required/><br /><br />
        <label for="passwordInput">  رمز عبور :</label><br />
        <input type="password" name="password" id="passwordInput" required/><br /><br />
        <input type="submit" value="ورود"/><br /><br />
    </form>
</fieldset>

</body>
</html>