<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ورود به سایت</title>
</head>
<body dir="rtl">

<ul>
    <li><a href="/">صفحه اصلی</a></li>
    <li><a href="/signup">ثبت نام</a></li>
</ul>


<fieldset>
    <legend>ورود به سایت</legend>
    <form action="" method="post">
        <div th:if="${param.error!=null}">
            <p>خطا در ورود به سایت</p>
        </div>
        <label for="emailInput">ایمیل : </label><br />
        <input id="emailInput" type="email" name="username" required/><br /><br />
        <label for="passwordInput">  رمز عبور :</label><br />
        <input type="password" name="password" id="passwordInput" required/><br /><br />
        <input type="submit" value="ورود"/><br /><br />
    </form>
</fieldset>

</body>
</html>