<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ثبت نام</title>
</head>
<body dir="rtl">

<fieldset>
    <legend>ثبت نام</legend>
<form method="post" action="#">
    <label for="emailInput">ایمیل : </label><br />
    <input id="emailInput" type="email" name="username" required/><br /><br />
    <label for="passwordInput">رمز عبور : </label><br />
    <input type="password" id="passwordInput" name="password"/><br /><br />
    <input type="submit" value="ثبت نام"/><br /><br />
</form>
</fieldset>

</body>
</html>