<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ثبت نام</title>
    <div th:replace="fragment/headerTemplate::head"></div>
</head>
<body class="text-right">

<div th:replace="fragment/headerTemplate::body"></div>
<br /><br />
<div class="container">
    <fieldset>
        <legend>ثبت نام</legend>
        <br/> <br/>
        <div th:if="${param.error!=null}">
            <p>خطا : ایمیل وارد شده قبلا ثبت شده است</p>
        </div>
        <form method="post" action="/user/signUp.do">
            <label for="emailInput">ایمیل : </label><br/>
            <input id="emailInput" type="email" name="username" required/><br/><br/>
            <label for="passwordInput">رمز عبور : </label><br/>
            <input type="password" id="passwordInput" name="password"/><br/><br/><br/>
            <label for="name">نام : </label><br/>
            <input type="text" id="name" name="name" required/><br/><br/>
            <label for="family">نام خانوادگی : </label><br/>
            <input type="text" id="family" name="family" required/><br/><br/>
            <input type="submit" value="ثبت نام" class="btn btn-secondary"/><br/><br/>
        </form>
    </fieldset>
</div>

</body>
</html>